# =========== #
# Local Files #
# =========== #
tf/farmer/model/*
tf/farmer/log/*
tf/farmer/data/*
tf/plant_age/model/*
tf/plant_age/log/*
tf/plant_age/data/*
tf/local/*
local/images/*
local/logs/*
local/sched/*
!local/sched/test.yaml
!local/logs/test_campo.csv
campoenv/*

# =========== #
#     Data    #
# =========== #
.png*

# =========== #
#  Notebooks  #
# =========== #
.idea*
__pycache__*
.ipynb_checkpoints*

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/